
{% extends "layout.html" %}

{% block pageTitle %}
  Hello Jeremy!
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Hello Jeremy!
      </h1>
      <p>
        This page will allow you to use company functions for your relevent sector of the company.
      </p>

      <p>
        Click on the button below to access your relevent actions.
      </p>

      <h2 class="govuk-heading-m">Sectors</h2>
      <div>
      {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "HR",
          href: "/hrpage"
        }) }}
      </div>
      <div>
        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "/salespage"
        }) }}
      </div>
      <div>
        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "/finacepage"
        }) }}
      </div>
      <div>
        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "/talentmanagerpager"
        }) }}
      </div>
    </div>
  </div>

{% endblock %}
