{% extends "layout.html" %}

{% block pageTitle %}
Getting started - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
	  items: [
	    {
	      text: "GOV.UK Prototype Kit",
	      href: "/docs"
	    }
	  ]
	}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sales Team</h1>

      <p class="govuk-body-l">
       Employees with highest sales
      </p>


 {% from "govuk/components/button/macro.njk" import govukButton %}
 
 {{ govukButton({
 text: "Generate Report",
 href: "/sales-team-report"
 }) }}



    

  </div>


</div>


{% endblock %}
