{% extends "layout.html" %}

{% block pageTitle %}
Getting started - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
	  items: [
	    {
	      text: "GOV.UK Prototype Kit",
	      href: "/docs"
	    }
	  ]
	}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Talent Manager - Create Project</h1>

      <p class="govuk-body-l">
        Enter project details below
      </p>

	  {% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Project ID",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  id: "project-ID",
  name: "project-ID"
}) }}

{{ govukInput({
  label: {
    text: "Project Name",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  id: "project-name",
  name: "project-name"
}) }}

 {% from "govuk/components/button/macro.njk" import govukButton %}
{{ govukButton({
 text: "Back",
 href: "/talent-manager"
 }) }}





    

  </div>


</div>


{% endblock %}
