{% extends "layout.html" %}

{% block pageTitle %}
Getting started - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
	  items: [
	    {
	      text: "GOV.UK Prototype Kit",
	      href: "/docs"
	    }
	  ]
	}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Talent Manager Report</h1>

      <p class="govuk-body-l">
        See which employees are assigned to each project and which are currently benched (not assigned an explicit project). 
      </p>


 {% from "govuk/components/button/macro.njk" import govukButton %}
 


  </div>


</div>


{% endblock %}
